Source: ros-galactic-domain-coordinator
Section: misc
Priority: optional
Maintainer: Michel Hidalgo <michel@ekumenlabs.com>
Build-Depends: debhelper (>= 9.0.0), python3-pytest, ros-galactic-ament-copyright, ros-galactic-ament-flake8, ros-galactic-ament-pep257, ros-galactic-ros-workspace, python3-all, python3-setuptools
Homepage: 
Standards-Version: 3.9.2

Package: ros-galactic-domain-coordinator
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, ros-galactic-ros-workspace
Description: A tool to coordinate unique ROS_DOMAIN_IDs across multiple processes
